main{
    margin: 0 auto;
    width: 100%;
    max-width: 1365px;
}

body{
    background: rgb(249,249,249);
}

.titulo{
    font-size: 30px;
    color: rgb(4,98,35);
    margin-top: 2%;
    text-align: center;
}

.linhatempo1{
    margin-top: 2.5%;
    margin-left: 23%;
}

.divtexto1{
    width: 700px;
    background-color: rgb(242,242,242);
    margin-top: 3%;
    text-align: left;
    padding: 1.5%;
    margin-left: 13%;
}

.divtexto1 h2{
    font-size: 18px;
    color: rgb(89,89,89)
}

.divtexto1 p{
    font-size: 16px;
    color: rgb(89,89,89)
}

.btn1{
    width: 100px;
    height: 30px;
    background-color: rgb(193, 196, 181);
    font-size: 12px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
    color: black;
    position:absolute;
    top: 88%;
    left: 45%;
}

.btn1:hover{
    opacity: 5s;
    color: white;
    transition: all 0.70s;
    background-color: rgb(188,213,65);
    text-decoration: none;
}

.btn2{
    width: 100px;
    height: 30px;
    background-color: rgb(188,213,65);
    font-size: 12px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
    color: white;
    position:absolute;
    top: 88%;
    left: 53%;
}

.btn2:hover{
    opacity: 5s;
    color: black;
    transition: all 0.70s;
    background-color: rgb(193, 196, 181);
    text-decoration: none;
}

.boxpreco{
    width: 250px;
    height: 230px;
    background-color: rgb(62,19,78);
    margin-left: 67%;
    margin-top: -15.2%;
    border-radius: 5px;
    text-align: center;
    padding: 1%;
}

.boxpreco p{
    color: white;
}

.texto2:not(.igonreCss){
    color: rgb(188,213,65)
}

.boxpreco p{
    -webkit-margin-before: -0.6em;
}

.boxpreco h2{
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.8em;
    color: white;
}

.texto4:not(.igonreCss){
    font-size: 14px;
    -webkit-margin-before: -1.3em;
}

.inputpg1{
    border:1px solid #c2c2c2;
    margin-left: 2%;
    border-radius: 7px;
    width: 160px;
    height: 20px;
}

@media (max-width : 400px){

    .linhatempo1{
       max-width: 360px;
       margin-left: 3%;
    }

    .divtexto1{
        max-width: 360px;
        margin-left: 3%;
        margin-top: 7%;
    }

    .divtexto1 h2{
       text-align: center;
    }

    .divtexto1 p{
        font-size: 15px;
    }

    .boxpreco{
        margin-left: 18%;
        margin-top: 7%;
        padding: 5%;
    }

    .btn1{
        margin-left: -20%;
        margin-top: 10.5%;
        position: relative;
    }

    .btn2{
        margin-left: 0%;
        margin-top: 30%;
    }
}

@media (max-width : 360px){

    .btn1{
        margin-top: 70%;
    }

    .btn2{
        margin-top: 70%;
    }
}